:root {
    --white-color: white;
    --text-color: black;

    /* Cor da barra de navegação */
    --header-bg-color: #2172EB;

    /* Cor de sombra modo escuros */
    --shadow-color-dark: rgba(0, 0, 0, 0.5);

    /* Cor de fundo do modo escuro */
    --dark-mode-bg-color: rgba(255, 255, 255, 0.733);

    /* Cor de fundo da tarefa e contêineres de entrada */
    --task-bg-color: whitesmoke;

    /* Cor do thumb do scrollbar */
    --scrollbar-thumb-color: rgba(128, 128, 128, 0.377);

    /* Cor de fundo do botão de deletar e criar tarefa */
    --button-bg-danger: #2172EB;

    /* Cor de fundo do botão de criar tarefa ao passar o mouse */
    --button-bg-danger-hover: #2A2A72;

    /* Cord de fundo do boitão de deletar */
    --button-bg-delete: #EE0000;

    /* Cor de sombra dos botões perigosos */
    --button-shadow-delete: #EE0000;

    /* Cor de borda da tarefa */
    --task-border-color: #e0e0e0;

    /* Cor de fundo dos contêineres das tarefas */
    --tasks-bg-color: rgba(128, 128, 128, 0.096);

    /* Cor de sombra interna do contêiner de tarefas */
    --task-container-shadow-color: rgba(0, 0, 0, 0.144);
}